<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Crear Consultante
            </div>
            <div class="card-body">
                <form id="Test" action="/consultant/new-consultant" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="userInput" type="text" name="firstName" class="form-control" placeholder="Nombre" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="lastName" class="form-control" placeholder="Apellido" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="gender" class="form-control" placeholder="Genero" autofocus>
                    </div> 
                    <div class="form-group">
                        <input type="int" name="age" class="form-control" placeholder="Edad" autofocus>
                    </div> 
                    <div class="form-group">
                        <input type="date" name="birthDate" class="form-control" placeholder="Fecha de Nacimiento" autofocus>
                    </div>                                                                               
                    <button class="btn btn-primary">
                        Crear
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
  // Get a reference to the form so that we can set up an event handler
  var form = document.getElementById("Test");
  form.addEventListener("submit", function(){

    // Only when the form has been submitted do you want the textbox value
    var inputTest = document.getElementById('userInput').value;
    localStorage.setItem( 'objectToPass', inputTest );

    window.location = "NEW URL";

  });

</script>