<section class="card">
  <div class="card-body">
    <h1>Sobre</h1>
    <p>
      Karim Ghonem, Stephany Choque y Ramiro Crespo estuvieron aqui y quieren que seas mas feliz
    </p>
  </div>
</section>