<div class="jumbotron mt-4">
  <h1 class="display-4">Apoyo</h1>
  <p class="lead">Toda situacion en la vida es temporal</p>
  <hr class="my-4">
  <p>Los problemas de salud mental son comunes. Una de cada cuatro personas experimentará problemas de salud mental en algún momento de sus vidas. </p>
  <!-- <a class="btn btn-primary btn-lg" href="" role="button">Consultorio</a> -->
</div>
