<div class="jumbotron mt-4">
  <h1 class="display-4">XXXXX!</h1>
  <p class="lead">A simple App t Technologies</p>
  <hr class="my-4">
  <p>lorem ipsum
  </p>
  <a class="btn btn-primary btn-lg" href="" role="button">Consultorio</a>
</div>
