<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>

        h1 { 
            color: red;
        }
    </style>
</head>
<body>
    <div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h1>Password Reset</h1>
    </div>
    <div class="card-body">
      <form
        <div class="form-group">
            <h2>Estimado Usuario: {{username}} </h2>
            <h2>el terapeuta {{therapist}} ha compartido con usted el siguiente archivo</h2>
            <h2>Ingrese al siguiente hipervinculo para acceder al contenido para usted</h2>
        </div>
        <div class="form-group">
          <a href="{{hiperlink}}">Contenido</a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>